@model CourseManager.Models.CourseManagements

@{
    ViewBag.Title = "Create";
    var class_ = (List<CourseManager.Models.Classes>)ViewBag.Class_;
    var teachers = (List<CourseManager.Models.Teachers>)ViewBag.Teachers;
    var courses = (List<CourseManager.Models.Courses>)ViewBag.Courses;
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        <h4>CourseManagements</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-lable col-md-2"})
            <div class="col-md-10">
                <select name="ClassId" class="form-control">
                    @foreach (var temp in class_)
                    { 
                        <option value="@temp.Id">@temp.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-lable col-md-2"})
            <div class="col-md-10">
            <select name="CourseId" class="form-control">
                @foreach (var temp in courses)
                { 
                    <option value="@temp.Id">@temp.Name</option>
                }
            </select>
            </div>
        </div>
                
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-lable col-md-2"})
            <div class="col-md-10">
                <select name="TeacherId" class="form-control">
                    @foreach (var temp in teachers)
                    { 
                        <option value="@temp.Id">@temp.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create"  class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
