@model CourseManager.Models.CourseManagements

@{
    ViewBag.Title = "Edit";
    var class_ = (List<CourseManager.Models.Classes>)ViewBag.Class_;
    var teachers = (List<CourseManager.Models.Teachers>)ViewBag.Teachers;
    var courses = (List<CourseManager.Models.Courses>)ViewBag.Courses;
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CourseManagements</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassName)
        </div>
        <div class="editor-field">
            <select name="ClassId" class="editor-field">
                @foreach (var temp in class_)
                { 
                    <option value="@temp.Id">@temp.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseName)
        </div>
        <div class="editor-field">
            <select name="CourseId" class="editor-field">
                @foreach (var temp in courses)
                { 
                    <option value="@temp.Id">@temp.Name</option>
                }
            </select>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeacherName)
        </div>
        <div class="editor-field">
            <select name="TeacherId" class="editor-field">
                @foreach (var temp in teachers)
                { 
                    <option value="@temp.Id">@temp.Name</option>
                }
            </select>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
